.prato {
  width: 280px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  margin: 8px 0;
}

.prato .imagem-container img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.prato .conteudo {
  padding: 8px;
}